<link href="~/Content/css/button-login-register.css" rel="stylesheet" type="text/css" media="all" />
<h3>Đăng nhập ngay</h3>
<form method="post" id="ajaxlogin" name="formlogin">
    <input type="text" name="Username" placeholder="Tên đăng nhập" required="" autocomplete="off">
    <input type="password" name="Password" placeholder="Mật khẩu" required="">
    <input type="button" id="submitbutton" value="Đăng nhập">
</form>
<script src="~/assets/css-js/js/LoginController.js"></script>