
<h3>Tạo tài khoản</h3>
<form action="#" method="post" onsubmit="return validated();" name="dangky">
    <input type="text" name="Username" placeholder="Tên đăng nhập" required="">
    <input type="password" name="Password" placeholder="Mật khẩu" required="">
    <input type="email" name="Email" placeholder="Địa chỉ Email" required="">
    <input type="text" name="Phone" placeholder="Số điện thoại" required="">
    <div id="err" style="width:300px;font-size:15px;color:#c62828;visibility:hidden;margin-bottom:5px;text-align:center;"></div>
    <input type="submit" value="Đăng ký">
</form>