
@{
    ViewBag.Title = "TaoBoPhim";
}

<h2>TaoBoPhim</h2>
<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.imagetable th {
            background: #b5cfd2 url('cell-blue.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table.imagetable td {
            /*background: #dcddc0 url('cell-grey.jpg');*/
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }
</style>

<center>
    <div style="width:100%;">
        <table class="imagetable">
            <tr>
                <td>
                    <h4>Tạo bộ phim mới</h4>
                    @using (Html.BeginForm("TaoBoPhim", "AdminHome", FormMethod.Post))
                    {
                        <div class="search_box">
                            Tên bộ phim :<br/>
                            <form action="/AdminHome/ListTenBP" method="get">
                                <input type="text" name="TenBP" id="txtFolderName" style="align-content:center" placeholder="Gõ từ khoá">
                            </form>
                        </div>
                        <p>
                            Phim bộ :<br /><input type="text" name="PhimBo" id="txtFolderName" style="align-content:center" /><br />
                            Tên đạo diễn :<br /><input type="text" name="TenDD" id="txtFolderName" style="align-content:center" /><br />
                            Mã quốc gia :<br /><input type="text" name="MaQG" id="txtFolderName" style="align-content:center" /><br />
                            Mã thể loại :<br /><input type="text" name="MaTL" id="txtFolderName" style="align-content:center" /><br />
                            Mã nhà xuất bản :<br /><input type="text" name="MaNXB" id="txtFolderName" style="align-content:center" /><br />
                            <input type="submit" class="CreateFolder" value="Tạo bộ phim" style="align-content:center" />
                        </p>
                        <div class="clear"></div>
                    }
                </td>
            </tr>
        </table>
    </div>

    <br />
</center>
