
@{
    ViewBag.Title = "TaoBoPhim";
}

<h2>TaoBoPhim</h2>
<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.imagetable th {
            background: #b5cfd2 url('cell-blue.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table.imagetable td {
            /*background: #dcddc0 url('cell-grey.jpg');*/
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }
</style>

<center>
    <div style="width:100%;">
        <table class="imagetable">
            <tr>
                <td>
                    <h4>Tạo bộ phim mới</h4>
                    @using (Html.BeginForm("TaoBoPhim", "AdminHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="search_box">
                            Tên bộ phim :<br />

                            <input type="text" name="TenBP" id="txtTenBoPhim" style="align-content:center" placeholder="Tên bộ phim">

                        </div>
                        <div class="search_box">
                            <br />Mã phim bộ :<br />

                            <input type="text" name="MaPB" id="txtMaPhimBo" style="align-content:center" placeholder="Mã phim bộ">

                        </div>
                        <div class="search_box">
                            <br />Tên đạo diễn :<br />

                            <input type="text" name="TenDD" id="txtTenDaoDien" style="align-content:center" placeholder="Tên đạo diễn">

                        </div>
                        <div class="search_box">
                            <br />Mã quốc gia :<br />

                            <input type="text" name="MaQG" id="txtMaQuocGia" style="align-content:center" placeholder="Mã quốc gia">

                        </div>
                        <div class="search_box">
                            <br />Mã thể loại :<br />

                            <input type="text" name="MaTL" id="txtMaTheLoai" style="align-content:center" placeholder="Mã thể loại">

                        </div>
                        <div class="search_box">
                            <br />Mã nhà sản xuất :<br />

                            <input type="text" name="MaNSX" id="txtMaNSX" style="align-content:center" placeholder="Mã nhà sản xuất">

                        </div>
                        <input type="submit" class="CreateFolder" value="Tạo bộ phim" style="align-content:center" />

                    }
                    <div class="clear"></div>
                </td>
            </tr>
        </table>
    </div>

    <br />
</center>
