@model IEnumerable<XemphimOnline.Model.QuocGia>

<div class="col-sm-4">
    <ul class="multi-column-dropdown">
        @foreach (var item in Model)
        {
            <li><a href="genres.html">@item.TenQG</a></li>
        }
    </ul>
</div>
@*<div class="col-sm-4">
    <ul class="multi-column-dropdown">
        <li><a href="genres.html">Anh</a></li>
        <li><a href="genres.html">Pháp</a></li>
        <li><a href="genres.html">Canada</a></li>
        <li><a href="genres.html">Âu-Mỹ</a></li>
    </ul>
</div>
<div class="col-sm-4">
    <ul class="multi-column-dropdown">
        <li><a href="genres.html">Việt Nam</a></li>
        <li><a href="genres.html">Nhật Bản</a></li>
        <li><a href="genres.html">Ấn Độ</a></li>
        <li><a href="genres.html">Thái Lan</a></li>
    </ul>
</div>
<div class="col-sm-4">
    <ul class="multi-column-dropdown">
        <li><a href="genres.html">Đài Loan</a></li>
        <li><a href="genres.html">Trung Quốc</a></li>
        <li><a href="genres.html">Hàn Quốc</a></li>
        <li><a href="genres.html">Asia</a></li>
    </ul>
</div>*@
